[Unit]
Description=rclone %i
Wants=network-online.target
After=network-online.target
After=network.target
Wants=network.target
OnFailure=notify@%i.service

[Service]
Type=simple
TimeoutStopSec=60
SuccessExitStatus=143

ExecStart=%h/.config/systemd/user/rclone.sh %i

SyslogIdentifier=rclone@%i
ExecStop=bash -c 'echo Unmounting %i ... && \
  fusermount -u /mnt/rclone/%i && \
  echo Removing /mnt/rclone/%i ... && \
  rmdir /mnt/rclone/%i && \
  echo Removing %h/rclone/%i ... && \
  rm -fr %h/rclone/%i && \
  echo Finished unmounting %i'
Restart=on-failure
RestartSec=150
StartLimitBurst=3
StartLimitInterval=3min

[Install]
WantedBy=default.target

