[Unit]
Description=rclone %i
Wants=network-online.target
After=network-online.target
OnFailure=notify@%i.service

[Service]
Type=simple
TimeoutStopSec=60
SuccessExitStatus=143

ExecStartPre=/bin/sleep 60
ExecStart=%h/.config/systemd/user/rclone.sh %i

SyslogIdentifier=rclone@%i
ExecStop=bash -c 'fusermount -u /mnt/rclone/%i && rmdir /mnt/rclone/%i && rm -fr /mnt/rclone/%i && rm -fr %HOME/rclone/%i'
Restart=on-failure
RestartSec=150
StartLimitBurst=3
StartLimitInterval=3min

[Install]
WantedBy=default.target

