[Unit]
Description=rclone sync %i
Wants=network-online.target
After=network-online.target
Wants=graphical.target
After=graphical.target
OnFailure=notify@%i.service

[Service]
Type=simple
TimeoutStopSec=60
; SuccessExitStatus=143

ExecStartPre=/bin/sleep 60
ExecStart=%h/.config/systemd/user/rsync.sh %i
SyslogIdentifier=rsync@%i

; StandardOutput=file:%h/tmp/rsync.%i.log
; Restart=on-failure
; RestartSec=150
; StartLimitBurst=1
; StartLimitInterval=10min

[Install]
WantedBy=default.target

