[Unit]
Description=Run notes sync service every 15 minutes

[Timer]
OnBootSec=15min
OnUnitActiveSec=15min
Unit=notes.service

[Install]
WantedBy=timers.target
