[general]
{{ if eq .chezmoi.hostname "bigone" }}
import = ["~/.config/alacritty/tokyonight/tokyonight_night.toml"]
{{ end }}

[terminal]
osc52 = "CopyPaste"

[env]
TERM = "xterm-256color"

[font]
size = 12
offset.y = 1

[font.bold]
# family = "FiraCode Nerd Font Mono"
# family = "Sauce Code Pro Nerd Font"
# family = "Mono"
# family = "Krypton"
# family = "JetBrainsMono Nerd Font"
# family = "Neon"
# family = "Agave Nerd Font Mono"
# family = "Mononoki Nerd Font Mono "
# family: "Argon"
# family = "Krypton"
# family: "Mononoki Nerd Font Mono "
# family: "MonaspaceNeon"
# family = "CodeNewRoman Nerd Font"
# family = "Ubuntu Mono Nerd Font "
style = "Bold"

[font.bold_italic]
# family = "FiraCode Nerd Font Mono"
# family = "Sauce Code Pro Nerd Font"
# family = "Mono"
# family = "Radon"
# family = "JetBrainsMono Nerd Font"
# family = "CodeNewRoman Nerd Font"
# family = "Neon"
# family = "Krypton"
# family = "Agave Nerd Font Mono"
# family = "Mononoki Nerd Font Mono "
# family = "Ubuntu Mono Nerd Font "
style = "Bold Italic"

[font.italic]
# family = "FiraCode Nerd Font Mono"
# family = "Sauce Code Pro Nerd Font"
# family = "Mono"
# family = "Radon"
# family = "JetBrainsMono Nerd Font"
# family = "CodeNewRoman Nerd Font"
# family = "Neon"
# family = "Agave Nerd Font Mono"
# family = "Mononoki Nerd Font Mono "
# family = "Ubuntu Mono Nerd Font "
style = "Italic"

[font.normal]
# family = "FiraCode Nerd Font Mono"
# family = "Sauce Code Pro Nerd Font"
# family = "Mono"
# family = "Neon"
# family = "JetBrainsMono Nerd Font"
# family = "CodeNewRoman Nerd Font"
# family = "Agave Nerd Font Mono"
# family = "Mononoki Nerd Font Mono "
# family= "Neon"
# family = "Ubuntu Mono Nerd Font "

[[keyboard.bindings]]
action = "ToggleFullScreen"
key = "F11"

[window]
padding = { x = 5, y = 5 }
opacity = 0.96
startup_mode = "Maximized"
title = "Terminal"
decorations = "None"
