format = """
$username\
$hostname\
$directory\
$git_branch\
$git_state\
$git_status\
$git_metrics\
$container\
$typst\
$rust\
$cmd_duration\
$status\
$custom.bgjobs\
$jobs\
$line_break\
$python\
$character"""

# $sudo\

[status]
# style = 'bg:blue'
symbol = '🔴 '
success_symbol = '🟢 SUCCESS'
format = '[\[$symbol$common_meaning$signal_name$maybe_int\]]($style) '
map_symbol = true
disabled = true

[directory]
style = "blue"
truncate_to_repo = false
before_repo_root_style = "bold grey"
# fish_style_pwd_dir_length = 0
home_symbol = "🏠"
# repo_root_style = "underline blue"

[directory.substitutions]
"Documents" = "󰈙 "
"Downloads" = " "
"Music" = " "
"Pictures" = " "
{{ if eq .chezmoi.hostname "bigone" }}
# "ddtjm" = "✡️"
# "ddt" = "🌟"
"regioncounter" = "🩷"
{{ end }}
"briefe" = ""
"Briefe" = ""

[character]
success_symbol = "[❯](purple)"
error_symbol = "[❯](red)"
vimcmd_symbol = "[❮](green)"

[git_branch]
disabled = false
format = "[$symbol$branch]($style) "
symbol = " "
style = "bold purple"
truncation_symbol = "…"

[git_status]
format = '([\[$all_status$ahead_behind\]]($style) )'
style = "red bold"
stashed = '\$'
ahead = "⇡"
behind = "⇣"
diverged = "⇕"
conflicted = "="
deleted = "✘"
renamed = "»"
modified = "!"
staged = "+"
untracked = "?"

[git_state]
format = '\([$state( $progress_current/$progress_total)]($style)\) '
style = "bright-black"

[git_metrics]
disabled = false
# Pale green
added_style = "green dimmed"
# Pale red
deleted_style = "red dimmed"

[container]
format = "[$symbol \\[$name\\]]($style) "
symbol = "📦"
style = "bold blue"

[cmd_duration]
format = "[$duration]($style) "
style = "bright-black"

[python]
format = "[$virtualenv]($style) "
style = "bold fg:213"

[rust]
symbol = ""
style = "bg:#212736"
format = '[[ $symbol ($version) ](fg:#769ff0 bg:#212736)]($style)'

[sudo]
style = 'bold green'
symbol = '👩‍💻 '
disabled = true

[jobs]
symbol = '✦ '
style = 'bold yellow'
disabled = true

[env_var.STARSHIP_JOBS]
symbol = '⚙ '
style = 'bold yellow'
format = '[$symbol$env_value]($style) '
